body {
  text-align: center;
}

.eventsList {
  align-items: center;
  text-align: center;
}
.createEventHide {
  display: none;
}
.createEvent {
  display: block;
}
.event {
  border: 1px solid #f00;
  /* Set Border For Only Specific Side */
  border-left: 1px solid #00f;
  border-right: 1px solid #00f;
  border-top: 1px solid #00f;
  border-bottom: 1px solid #00f;
  /* Another Rules Can Be Applied*/
  border-top-style: solid dashed dotted;
  border-top-width: 2px;
}
