.loginDiv {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  min-height: 100vh;
  font-family: 'Jost', sans-serif;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
  /* background-image: url('https://media.istockphoto.com/illustrations/football-background-illustration-id165730100?k=20&m=165730100&s=170667a&w=0&h=jLQw4UsIi7zGoiYJ7jF0jiuWYfjvfVQBx3RJKMzOPiM=');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
}
.inputL {
  width: 100%;
  height: 20px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.buttonl {
  /* width: 60%; */
  height: 23px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #573b8a;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.buttonl:hover {
  background: #6d44b8;
}
